{% set carouselImages = block.images.all() %}
{% set id = "centralSlideshow" ~ _key %}
<div id="{{id}}" class="carousel{% if block.lightOrDarkControls %} carousel-dark{% endif %} slide central carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for image in carouselImages %}
        <button type="button" data-bs-target="#{{id}}" data-bs-slide-to="{{loop.index - 1}}"{% if loop.index == 1 %} class="active" aria-current="true"{% endif %} aria-label="Slide {{loop.index}}"></button> 
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for image in carouselImages %}
        <div{% if loop.index == 1 %} data-bs-interval="10000"{% endif %} class="carousel-item{% if loop.index == 1 %} active{% endif %} shadow">
            <img src="{{image.url}}" alt="Slide {{loop.index}}">
        </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#{{id}}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{id}}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>