{% set backgroundImage = block.backgroundImage.one() ?? null %}
<div class="container-fluid py-5"
    style="background:{{block.backgroundColour}}
    {% if backgroundImage %} url('{{backgroundImage.url}}');
        background-size:cover;background-repeat:no-repeat;background-position:center
    {% endif %};">
    <div class="row justify-content-center p-5 my-5">
        <div class="shadow col-12 col-md-6 p-5" style="background:{{block.bodyBackgroundColour}};">
            <h1>{{block.blockTitle}}</h1>
            <p>{{block.blockBody}}</p>
        </div>
    </div>
</div>