{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
{% endmacro %}

{% set message = message ?? null %}
<div class="container pt-4">
    <div class="row">
        <div class="col-12">
            <h1>{{block.heading}}</h1>
            <p>{{block.subtext}}</p>
            <div class="container-fluid my-3">
                <div class="row">
                    <form method="post" action="" accept-charset="UTF-8" class="col-auto shadow rounded-3 p-4 mx-auto">
                        {{ csrfInput() }}
                        {{ actionInput('contact-form/send') }}
                        {{ redirectInput('contact/thanks') }}

                        <h3><label for="from-name">Your Name</label></h3>
                        {{ input('text', 'fromName', message.fromName ?? '', {
                            id: 'from-name',
                            class: 'form-control',
                            autocomplete: 'name',
                        }) }}
                        {{ message ? _self.errorList(message.getErrors('fromName')) }}

                        <h3 class="mt-4"><label for="from-email">Your Email</label></h3>
                        {{ input('email', 'fromEmail', message.fromEmail ?? '', {
                            id: 'from-email',
                            class: 'form-control',
                            autocomplete: 'email',
                        }) }}
                        {{ message ? _self.errorList(message.getErrors('fromEmail')) }}

                        <h3 class="mt-4"><label for="message">Message</label></h3>
                        {{ tag('textarea', {
                            text: message.message ?? '',
                            id: 'message',
                            class: "form-control",
                            name: 'message',
                            rows: 10,
                            cols: 40,
                        }) }}
                        {{ message ? _self.errorList(message.getErrors('message')) }}
                        <button class="btn- btn" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>