{% set features = block.feature.with(['featureImage']).all() %}
<div class="container py-5 my-5">
    <div class="row gx-4 justify-content-center">
        {% for feature in features %}
            {% set image = feature.featureImage[0].url %}
            <div class="col-12 col-sm-6 col-md-4 col-lg text-center align-items-center px-4">
                <div class="featureImage">
                    <img src="{{image}}" alt="feature image">
                </div>
                <h2 class="mb-2">{{feature.title}}</h2>
                <p>{{feature.featureDescription}}</p>
            </div>
        {% endfor %}
    </div>
</div>