{% set position = block.imagePosition %}
{% set title = block.blockTitle %}
{% set body = block.blockBody %}
{% set image = block.sideImage.one() %}
<div class="container-fluid imageTextBlock">
    <div class="row align-items-center{% if position %} flex-row-reverse{% endif %}">
        <div class="col-6 p-0">
            <img src="{{image.url}}" alt="decorative image">
        </div>
        <div class="col-6">
            <div class="m-auto {% if position %}me-5{% else %}ms-5{% endif %}" style="max-width:350px;">
                <h1>{{title}}</h1>
                <p>{{body}}</p>
            </div>
        </div>
    </div>
</div>