{% if block.instagramUsername is defined %}
    {% set instaPosts = craft.instagram.getFeed(block.instagramUsername) %}
{% else %}
    {% set instaPosts = craft.instagram.getFeed() %}
{% endif %}
{% if block.theme %}
	{% set bgcolour = "bg-dark" %}
    {% set text = "text-light" %}
    {% set comment = "#fff" %}
{% else %}
	{% set bgcolour = "bg-light" %}
    {% set text = "text-dark" %}
    {% set comment = "#000" %}
{% endif %}
<div class="{{bgcolour}}">
	<div class="container">
		<div class="row">
			{% for post in instaPosts %}
				{% if loop.index < 7 %}
					<div class="col-12 col-sm-6 col-md-4 pt-4">
						<a href="https://www.instagram.com/p/{{ post.shortcode }}/" target="_blank" rel="noopener noreferrer" class="post">
							<img src="{{ post.thumbnail }}" alt="instagram post"/>
                        </a>
						<a href="https://www.instagram.com/p/{{ post.shortcode }}/" target="_blank" rel="noopener noreferrer" class="post-body {{text}} text-decoration-none">
                            <p class="mt-3">
                                <svg class="me-1" aria-label="Unlike" class="_8-yf5 " color="#ed4956" fill="#ed4956" height="24" role="img" viewbox="0 0 48 48" width="24">
                                    <path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path>
                                </svg>
                                <svg aria-label="Comment" class="_8-yf5 " color="{{comment}}" fill="{{comment}}" height="24" role="img" viewbox="0 0 48 48" width="24">
                                    <path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd"></path>
                                </svg>
                            </p>
                            <p class="my-0 fw-bold">{{ post.likes }}
                                Likes</p>
                            <p class="fw-bold">{{ post.comments }}
                                Comments</p>
							<p>{{ post.caption|truncate(130) }}</p>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
