<div class="col-12 col-md-4">
    <h3>
        Subscribe to our newsletter                       
    </h3>
    {% set chimp = getenv('MAILCHIMP_ACTION') %}
    <hr>
    <!-- Begin Mailchimp Signup Form -->
    <form class="input-group" action="{{chimp}}" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="success" novalidate>
        <input class="form-control" type="email" name="EMAIL" id="mce-EMAIL">
        <input id="mc-embedded-subscribe-form-submit" class="btn btn-primary" type="submit" value="Signup">
        <div class="d-none" aria-hidden="true">
            <input type="text" name="b_fda7928a4797045a6e699329e_e39bed6427" tabindex="-1" value="">
        </div>
    </form>
    <div id="mce-responses" class="alert" role="alert" style="display:none;"></div>
            <!--End mc_embed_signup-->
</div>
{% js %}
    let submit = document.getElementById("mc-embedded-subscribe-form-submit");
    submit.addEventListener("click", function(){
        // turn the mailchimp form into a ajax form to handle the reponses
        ajaxMailChimpForm(document.querySelector("#mc-embedded-subscribe-form"), document.querySelector("#mce-responses"));
        function ajaxMailChimpForm($form, $resultElement) {
            $form.submit(function(e){
                e.preventDefault();
                if (!isValidEmail($form)) {
                    var error = "A valid email address must be provided.";
                    $resultElement.innerHTML = error;
                    $resultElement.style.color = "red";
                    $resultElement.style.display = "block";
                } else {
                    $resultElement.style.color = "#244057";
                    $resultElement.style.display = "block";
                    $resultElement.innerHTML = "Subscribing...";
                    submitSubscribeForm($form, $resultElement);
                }
            })
        }
        // Validate Email
        function isValidEmail($form) {
            var email = $form.querySelector("input[type='email']").val();
            if(!email || !email.length) {
                return false;
            } else if (email.indexOf("@") == -1) {
                return false;
            }
            return true;
        }
        // Submit the form with an ajax/jsonp request
        function submitSubscriberForm($form, $resultElement) {
            var request = new XMLHttpRequest();
            request.open('GET', $form.getAttribute("action"), true);
            oReq.overrideMimeType("application/json; charset=utf-8");
            request.onload = function() {
            if (this.status >= 200 && this.status < 400) {
                // Success!
                var data = this.response;
                if (data.result != "success") {
                    var message = data.msg || "Sorry, Unable to subscribe. Please try again later.";
                    $resultElement.style.color = "red";
                    $resultElement.style.display = "block";

                    if (datas.msg && data.msg.indexOf("already subscribed") >= 0) {
                        message = "You're already subscribed. Thank You.";
                        $resultElement.style.color = "#244057";
                        $resultElement.style.display = "block";
                    }

                    $resultElement.innerHTML = message;
                } else {
                    $resultElement.style.color = "#244057";
                    $resultElement.style.display = "block";
                    $resultElement.innerHTML = data.msg;
                }
            } else {
                // We reached our target server, but it returned an error
                $resultElement.innerHTML = "There has been an error, please refresh and try again"; 
            }
            };

            request.onerror = function() {
            // There was a connection error of some sort
                $resultElement.innerHTML = "There has been an error, please refresh and try again"; 
            };

            request.send();
        }
    });
{% endjs %}
