{% set sections = block.sections.with(['backgroundImage','linkedPage']).all() %}
<div class="container-fluid">
    <div class="row g-4 py-4 px-2">
        {% for section in sections %}
            {% switch loop.index % 4 %}
                {% case "1" %}
                    {% set colSize = "col-md-8" %}
                {% case "2" %}
                    {% set colSize = "col-md-4" %}
                {% case "3" %}
                    {% set colSize = "col-md-4" %}
                {% default %}
                    {% set colSize = "col-md-8" %}
            {% endswitch %}
            {% set background = section.backgroundImage[0] %}
            {% set page = section.linkedPage[0] %}
            <div class="col-12 {{colSize}}">
                <div class="sectionGrid" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.2)),url('{{background.url}}');">
                    <a href="{{page.url}}">{{section.linkText}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>