<div class="container-fluid py-4 shadow">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <h3>
                            Contact Us
                        </h3>
                        <hr>
                        {{ businessInformation.businessAddress|nl2br|raw }}
                        <p class="mt-4">
                            Mail: 
                            <a href="mailto:{{ businessInformation.businessEmail }}">
                                {{ businessInformation.businessEmail }}
                            </a>
                        </p>
                        <p>
                            Tel: 
                            <a href="tel:{{ businessInformation.businessTelephone }}">
                                {{ businessInformation.businessTelephone }}
                            </a>
                        </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <h3>
                            Our Links
                        </h3>
                        <hr>
                        {% set menuitems = craft.entries.section('pages').all() %}
                        {% for item in menuitems %}
                            <a class="nav-link" href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="row justify-content-between mt-3 border-top pt-3">
                    <div class="col-auto">
                        &copy; 
                        {{ 'now' | date('Y') }}
                        {{ businessInformation.businessName }}
                    </div>
                    <div class="col-auto">
                        <a href="https://designedbydash.co.uk">
                            <img src="/template/designedbydash.svg" alt="Designed by Dash" style="height:20px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                