<nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
	<div class="container">
		<a class="navbar-brand" href="/">
            {% set logo = craft.rebrand.logo.url ?? branding.siteLogo.one.url() ?? "/template/businessLogo.svg" ?? '' %}
			<img width="150px" src="{{logo}}" alt="Logo">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
			<div class="navbar-nav text-end">
				{% set menuitems = craft.entries.section('pages').all() %}
				{% for item in menuitems %}
					<a class="nav-link" href="{{item.url}}">{{item.title}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</nav>
