<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% set siteName = getenv('SITE_NAME') %}
        <title>
            {{ title ~ " | " ~ siteName ?? '' }}
        </title>
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="css/app.css">
        {% set icon = craft.rebrand.icon.url ?? branding.siteIcon.one().url() ?? '' %}
        <link rel="shortcut icon" href="{{ icon }}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            {% include "_layout/header" %}
        </header>
        {% block content %}
            If you see this you haven't set your <strong>content block</strong>
        {% endblock %}
        <footer>
            {% include "_layout/footer" %}
        </footer>
    </body>
</html>
