:root {
    accent-color: map-get($theme-colors, "primary");
}

p,
span,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway',
        sans-serif;
}

a,
.nav-link,
.navbar-light .navbar-nav .nav-link {
    color: map-get($theme-colors, "primary-link");
    &:hover {
        color: map-get($theme-colors, "primary-link-hover");
    }
}

.post,
.post-body {
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    display: block;
    margin: auto;
    width: 380px;

    @include media-breakpoint-down(xxl) {
        width: 356px;
    }

    @include media-breakpoint-down(xl) {
        width: 296px;
    }

    @include media-breakpoint-down(lg) {
        width: 216px;
    }

    @include media-breakpoint-down(md) {
        width: 254px;
    }

    @include media-breakpoint-down(sm) {
        width: 296px;
    }
}

.post {
    height: 380px;

    @include media-breakpoint-down(xxl) {
        height: 356px;
    }

    @include media-breakpoint-down(xl) {
        height: 296px;
    }

    @include media-breakpoint-down(lg) {
        height: 216px;
    }

    @include media-breakpoint-down(md) {
        height: 254px;
    }

    @include media-breakpoint-down(sm) {
        height: 296px;
    }
}

.carousel {
    height: 40vh;
    background: map-get($theme-colors, "dark");

    &-dark {
        background: #fff;
    }

    &.central {
        height: 31vh;

        .carousel-inner .carousel-item {
            height: 20vh;
            margin: 5vh auto 6vh auto;
            width: calc(20vh * 1.6153);
            box-sizing: content-box;
            float: none;
        }
    }

    .carousel-inner {
        height: 100%;

        & *> {
            z-index: 1;
        }

        .carousel-item {
            height: 100%;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                display: block;
            }
        }
    }
}

.imageTextBlock * {
    max-height: 400px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.sectionGrid {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    padding: 30px;

    a {
        color: map-get($theme-colors, "primary-light");
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        position: absolute;
        bottom: 30px;
        right: 30px;
        text-shadow: 2px 2px 5px rgb(0 0 0 / 50%);

        &::after {
            content: " \003E";
        }
    }
}

.featureImage {
    height: 60px;
    width: 60px;
    overflow: hidden;
    margin: 40px auto;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}