{% extends "_layout" %}
{% set title = "Home" %}
{% set pagecomponents = entry.pageComponents.all() ?? null %}
{% block content %}
	{% for block in pagecomponents %}
		{% include "_page-components/" ~ block.type %}
	{% endfor %}
{% endblock %}
